<%- include('partials/head') -%>
<%- include('partials/header') -%>
<%- include('partials/sidebar') -%>

<main id="main" class="main">

  <div class="pagetitle">
    <h1>Health Journal</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
        <li class="breadcrumb-item"><a href="/health-journal">Health Journal</a></li>
        <li class="breadcrumb-item active"><%= post.title %></li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-6">
      <h2><%= post.title %></h2>
      <div class="col-3 mb-5">
        <p><%= post.description %></p>
      </div>
      <img class="img-fluid" src="<%= post.image%>" />
      <div class="row justify-content-between">
        <form
          class="col-1"
          action="/post/favoritePost/<%= post.id %>?_method=PUT"
          method="POST"
        >
          <% if (post.favorite == true) { %>
          <button class="btn btn-outline-light bi bi-suit-heart-fill text-danger" style="font-size: 2rem;" data-toggle="tooltip" data-placement="top" title="Unfavorite Post" type="submit"></button>
          <%} else { %>
          <button class="btn btn-outline-light bi bi-suit-heart text-danger" style="font-size: 2rem;" data-toggle="tooltip" data-placement="top" title="Favorite Post" type="submit"></button>
          <% } %>
        </form>
        <!-- <h3 class="col-3">Likes: <%= post.likes %></h3> -->
        <!-- <h3 class="col-3">Favorite: <%= post.favorite %></h3> -->
        <%if(post.user == user.id){ %>
        <form
          action="/post/deletePost/<%= post.id %>?_method=DELETE"
          method="POST"
          class="col-3"
        >
          <button class="btn btn-outline-light bi bi-trash3-fill text-dark" style="font-size: 2rem;" data-toggle="tooltip" data-placement="top" title="Delete Post" type="submit"></button>
        </form>
        <%}%>
      </div>
    </div>

    <div class="mt-5">
      <h2>Add a comment</h2>
      <form action="/comment/createComment/<%=post._id%>" method="POST">
        <div class="mb-3">
            <label for="comment" class="form-label">Comment</label>
            <input type="text" class="form-control" id="comment" name="comment">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <ul>
      <% for(var i=0; i<comments.length; i++) {%>
        <li class="col-6 justify-content-between mt-5">
          <%= comments[i].comment%>
        </li>
      <% } %>
    </ul>
    <div class="col-6 mt-5">
      <a class="btn btn-primary" href="/dashboard">Return to Dashboard</a>
      <a class="btn btn-primary" href="/health-journal">Return to Health Journal</a>
    </div>
  </div>
</div>

</main>
<%- include('partials/footer') -%>
